<div id="main-cart-container" data-cart-id="{{cart._id}}">
  <h1>Cart Details</h1>
  {{#if products}}
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Code</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{title}}</td>
            <td>{{code}}</td>
            <td>
              <button onclick="decrement('{{_id}}')">-</button>
              <span id="quantity_{{_id}}">{{quantity}}</span>
              <button onclick="increment('{{_id}}')">+</button>
            </td>
            <td>{{price}}</td>
            <td><button onclick="removeProduct('{{_id}}')">Remove</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No products found in the cart.</p>
  {{/if}}
</div>

<script src="/js/cartDetails.js"></script>